workflows/My workflow 6.json
{
  "active": false,
  "connections": {
    "variables": {
      "main": [
        [
          {
            "node": "Accedo al Sitemap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accedo al Sitemap": {
      "main": [
        [
          {
            "node": "Convierto a XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convierto a XML": {
      "main": [
        [
          {
            "node": "Extraigo lo que necesito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraigo lo que necesito": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-14T15:23:11.405Z",
  "id": "LYmiBmi9BmpUM6WE",
  "meta": null,
  "name": "My workflow 6",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7f473d2f-0ea3-4962-91b2-96bce3501d9d",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "639636c5-3b6d-4f96-b964-7e37ad2d896e",
              "name": "sitemap",
              "value": "https://mascotalandia.es/sitemap-products-1-es.xml",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        0
      ],
      "id": "28420439-ba82-4bb9-98af-2fbe4d7b8ae3",
      "name": "variables"
    },
    {
      "parameters": {
        "url": "={{ $json.sitemap }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        0
      ],
      "id": "6b308afa-0c5f-4d8a-891d-000d40c22392",
      "name": "Accedo al Sitemap"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        460,
        0
      ],
      "id": "e561c507-3267-4af1-bd13-899c040edf3d",
      "name": "Convierto a XML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urlset.url",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        620,
        0
      ],
      "id": "b6e5fdf1-dca8-4da7-a0ea-decb8d347570",
      "name": "Extraigo lo que necesito"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0gjQxIZa6qZDXSzg",
          "mode": "list",
          "cachedResultName": "Extractor de información"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1200,
        100
      ],
      "id": "beace534-4b07-4d0e-8413-0d4db092451c",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        780,
        0
      ],
      "id": "6ba98e8b-f842-456e-98c3-51494f0a89a9",
      "name": "Limit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1000,
        0
      ],
      "id": "8fddf4e4-a6ba-4073-bcd5-b54e5bdff6bd",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-14T16:12:36.000Z",
  "versionId": "baa4bd3a-50b5-47f5-97fc-85723f88af96"
}