workflows/My workflow 7.json
{
  "active": true,
  "connections": {
    "Listen": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to ElevenLabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-15T09:51:13.277Z",
  "id": "Ky239EN22hBXZG7k",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 7",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.pregunta }}",
        "options": {}
      },
      "id": "91226b6e-f375-4887-9008-8ed85a54abc8",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        500,
        -140
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "894e7cb0-68fb-4910-895e-5892e1cb7a60",
      "name": "Respond to ElevenLabs",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        920,
        -140
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f6b29897-0ea3-4dd3-b752-7eb0e8b3d02f",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        380,
        100
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "Tnc8Gv0yuvWrwgr0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "elevenlabs",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5371a21d-7111-4432-a81a-6690dcdbe1b6",
      "name": "Listen",
      "type": "n8n-nodes-base.webhook",
      "position": [
        200,
        -140
      ],
      "webhookId": "e9f611eb-a8dd-4520-8d24-9f36deaca528",
      "typeVersion": 2
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Listen').item.json.headers['x-forwarded-host'] }}"
      },
      "id": "16f903a7-2cdf-4927-9f07-8c5a075ef9cb",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        540,
        100
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6c11095a-2645-4ac0-a969-c5d7aa712ca0",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        700,
        220
      ],
      "typeVersion": 1.1,
      "credentials": {
        "openAiApi": {
          "id": "Tnc8Gv0yuvWrwgr0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "udia_informacion",
        "toolDescription": "Contienes información sobre lo que ofrece UDIA",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragudia",
          "mode": "list",
          "cachedResultName": "ragudia"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        720,
        60
      ],
      "id": "5a96b4bc-9742-4d0d-ac41-3bea70c3c3bc",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "HoW0ZiSKvkS6LruJ",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-15T10:14:44.000Z",
  "versionId": "8478bfc8-146d-4933-95e6-02a19a613483"
}