workflows/My workflow 3.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-12T12:40:57.921Z",
  "id": "UTEu3rIvk285k4G1",
  "meta": null,
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -240,
        -20
      ],
      "id": "d64eb024-b427-4d46-b22d-4d180bd77c55",
      "name": "When chat message received",
      "webhookId": "eec050cd-ac32-4d58-add5-0aea6c39280e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7a5d79d6-85b1-4a9e-b59b-8e59a68cd34c",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "Hola",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -20,
        -20
      ],
      "id": "f866692a-5ead-4fb1-8093-64181954f10a",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        200,
        -160
      ],
      "id": "7f15c673-67a2-45f1-a7d8-c9e71df7f8f9",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "errorMessage": "¡Ha ocurrido un error! Te enviamos un Telegram"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        200,
        40
      ],
      "id": "6849b7a2-bf0e-413a-888b-dda39d226fa0",
      "name": "Stop and Error"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "4rnuUJQxKyR7MWPB"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-12T12:49:44.000Z",
  "versionId": "90045b2e-d38f-4a4f-badc-c23d827f0c57"
}