workflows/RAG 2.json
{
  "active": true,
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-15T11:07:10.664Z",
  "id": "zjcYRK8JiDq4aWUE",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "RAG 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Lf3pbwh9FmbA1EYmMTasSNS-rTw7mc7t",
          "mode": "list",
          "cachedResultName": "RAG_CLÍNICA",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Lf3pbwh9FmbA1EYmMTasSNS-rTw7mc7t"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -420,
        -40
      ],
      "id": "219616f1-1523-4c86-a2d2-180190506864",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "N28mcWiGH0YXfRqb",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -200,
        -40
      ],
      "id": "20b8b642-bc83-4030-bff5-bdd3ee31c279",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "N28mcWiGH0YXfRqb",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "9d3940f7-670e-4765-9d2b-83fe5ed7e21c",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        -20,
        140
      ],
      "credentials": {
        "openAiApi": {
          "id": "Tnc8Gv0yuvWrwgr0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragclinica",
          "mode": "list",
          "cachedResultName": "ragclinica"
        },
        "options": {
          "pineconeNamespace": "clinica_rag"
        }
      },
      "id": "01037126-ac09-4db4-9cca-dfc7549e813d",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        -20,
        -80
      ],
      "credentials": {
        "pineconeApi": {
          "id": "HoW0ZiSKvkS6LruJ",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "id": "9969566f-b1e2-43b9-9787-9d060f6efb2d",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        140,
        160
      ]
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        260,
        320
      ],
      "id": "8269e298-6fef-4fdc-8f82-143165b5d310",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-04-16T09:48:12Z"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-15T12:05:15.000Z",
  "versionId": "2ffe309b-8c6d-4890-a8a8-b8ea2603f02c"
}